@import url("http://meyerweb.com/eric/tools/css/reset/v2.0");

:root {
	--light-color: #fdfffcff;
	--yellow-color: #ffad05ff;
	--red-color: #fd3516ff;
	--dark-color: #011627ff;
	--blue-color: #5995edff;
}

.body {
	font-family: 'Open Sans', sans-serif;
	background-color: var(--light-color);
	color: var(--dark-color);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: var(--dark-color);
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav a {
	color: var(--light-color);
	text-decoration: none;
	font-size: 1.2rem;
	padding: 1rem 0;
	margin: 0 1rem;
	transition: ease-in-out 0.3s;
}

.header__nav a:hover {
	color: var(--yellow-color);
}

.header__nav a:active {
	color: var(--blue-color);
}

.header__list {
	display: flex;
	list-style: none;
}

.header__list-item {
	margin-right: 1rem;
}

.header__list-item a {
	color: var(--light-color);
	text-decoration: underline;
	transition: ease-in-out 0.3s;
}

.header__list-item a:hover {
	color: var(--red-color);

}

.header__list-item a:active {
	color: var(--blue-color);
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.section-home {
	background-color: var(--light-color);
	border-radius: 10px;
	box-shadow: 2px 2px 10px var(--dark-color);
	width: 80%;
}

.section-home__title {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.section-home__text {
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: justify;
}

.section-about {
	padding: 2rem;
	background-color: var(--yellow-color);
	text-align: center;
}

.section-about__title {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.section-about__text {
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: justify;
}

.services {
	padding: 2rem;
	background-color: var(--red-color);
}

.services__title {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.services__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
}

.services__item {
	background-color: var(--light-color);
	border-radius: 10px;
	border: 1px solid var(--dark-color);
	box-shadow: 2px 2px 10px var(--dark-color);
	font-size: 1.5rem;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
}

.disciplines {
	padding: 2rem;
	background-color: var(--yellow-color);
}

.disciplines__title {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.disciplines__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;

}

.disciplines__item {
	background-color: var(--light-color);
	border-radius: 10px;
	box-shadow: 2px 2px 10px var(--dark-color);
	font-size: 1.5rem;
	margin: 1rem;
	padding: 1rem;

}

.events__title {
	font-size: 28px;
	margin-bottom: 20px;
}

.events__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
}

.events__item {
	background-color: var(--light-color);
	border-radius: 10px;
	box-shadow: 2px 2px 10px var(--dark-color);
	font-size: 1.5rem;
	margin: 1rem;
	width: 30%;
}